<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>景点管理</title>
    <style>
        body{
            margin: 0;
        }

        body > .el-container {
            margin-bottom: 40px;
        }


        .el-carousel__item h3 {
            color: #475669;
            font-size: 18px;
            opacity: 0.75;
            line-height: 300px;
            margin: 0;
        }
        .user-avator img {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
<div id="app">

    <el-container>
        <el-header>
            <el-menu
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b"
                    default-active="toIndex" router>
                <el-menu-item v-for="(item, index) in itemList" :index="item.path" :key="index" @click = handoff(index)>
                    <span  slot="title">{{ item.title }}</span>
                </el-menu-item>
            </el-menu>
        </el-header>
        <el-main>
            <el-button type="primary" @click="dialogVisible1 = true">新增</el-button>
        </el-main>
    </el-container>


    <template>
        <el-table :data="tableData" >
            <el-table-column prop="id" label="编号"  align-="center" width="140">
            </el-table-column>

            <el-table-column prop="startline" label="开始日期" align-="center" width="140">
            </el-table-column>

            <el-table-column prop="deadline" label="结束日期" align-="center" width="140">
            </el-table-column>

            <el-table-column prop="name" label="地点" align-="center" width="140">
            </el-table-column>
            <el-table-column prop="money" label="金额" align-="center" width="140">
            </el-table-column>

            <el-table-column prop="resource" align-="center" label="宣传语">
            </el-table-column>
            <el-table-column

                    fixed="right"
                    label="操作"
                    width="100">
                <template slot-scope="scope">
                    <el-button @click="handleEdit(scope.$index, scope.row)" type="text" size="small">修改</el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

    </template>

    <el-dialog
            title="修改"
            :visible.sync="dialogVisible"
            width="30%"
            :before-close="handleClose">
          <span>
              <el-form :model="place" :rules="rules" ref="place" label-width="100px" class="demo-ruleForm">

  <el-form-item label="景点id" prop="name">
    <el-input v-model="place.id" :disabled="true"></el-input>
  </el-form-item>

  <el-form-item label="景点名称" prop="name">
    <el-input v-model="place.name"></el-input>
  </el-form-item>

   <el-form-item label="金额" prop="name">
    <el-input v-model="place.money"></el-input>
  </el-form-item>

  <el-form-item label="开始时间" required>
    <el-col :span="11">
      <el-form-item prop="startline">
        <el-date-picker
                v-model="place.startline"
                type="date"
                placeholder="选择日期">
    </el-date-picker>
      </el-form-item>
    </el-col>
  </el-form-item>

   <el-form-item label="截止时间" required>
    <el-col :span="11">
      <el-form-item prop="deadline">
        <el-date-picker
                v-model="place.deadline"
                type="date"
                placeholder="选择日期">
    </el-date-picker>
      </el-form-item>
    </el-col>
  </el-form-item>

  <el-form-item label="景区描述" prop="resource">
    <el-input type="textarea" v-model="place.resource"></el-input>
  </el-form-item>

  <el-form-item>
    <el-button type="primary" @click="submitForm('place')">修改</el-button>
    <el-button @click="dialogVisible = false">取消</el-button>
  </el-form-item>
</el-form>
          </span>

        </span>
    </el-dialog>
    <el-dialog
            title="新增"
            :visible.sync="dialogVisible1"
            width="30%"
            :before-close="handleClose">
          <span>
              <el-form :model="place1" :rules="rules" ref="place1" label-width="100px" class="demo-ruleForm">

  <el-form-item label="景点名称" prop="name">
    <el-input v-model="place1.name"></el-input>
  </el-form-item>

   <el-form-item label="金额" prop="name">
    <el-input v-model="place1.money"></el-input>
  </el-form-item>

  <el-form-item label="开始时间" required>
    <el-col :span="11">
      <el-form-item prop="startline">
        <el-date-picker
                v-model="place1.startline"
                type="date"
                placeholder="选择日期">
    </el-date-picker>
      </el-form-item>
    </el-col>
  </el-form-item>

   <el-form-item label="截止时间" required>
    <el-col :span="11">
      <el-form-item prop="deadline">
        <el-date-picker
                v-model="place1.deadline"
                type="date"
                placeholder="选择日期">
    </el-date-picker>
      </el-form-item>
    </el-col>
  </el-form-item>

  <el-form-item label="景区描述" prop="resource">
    <el-input type="textarea" v-model="place1.resource"></el-input>
  </el-form-item>

  <el-form-item>
    <el-button type="primary" @click="submitForm1('place1')">新增</el-button>
    <el-button @click="dialogVisible1 = false">取消</el-button>
  </el-form-item>
</el-form>
          </span>

        </span>
    </el-dialog>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./vue.js"></script>
<script src="js/index.js"></script>
<link rel="stylesheet" href="js/theme-chalk/index.css"/>
<script>
    new Vue({
        el:"#app",
        name:'block',
        created(){
            this.token =  localStorage.getItem('token')
            if(this.token ==null){
                alert("请先登录")
                location.href = `http://localhost:8080/login.html`
            }
        },
        mounted(){

            let that = this
            axios({
                method:"get",
                url:"http://localhost:8080/place/plalist",
                headers: {
                    'Content-Type': "application/json;charset=UTF-8",
                    'token': this.token,
                },
            }).then(function (resp){
                that .tableData = resp.data.data
            })
        },
        methods: {
            handleSelect(path){
                this.$router.push({
                    path: path
                });
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
            },
            submitForm(place) {
                this.$refs[place].validate((valid) => {
                    if (valid) {
                        axios({
                            method: 'post',
                            url: 'http://localhost:8080/place/changepl',
                            dataType:"json",
                            data: this.place,
                            headers: {
                                'Content-Type': "application/json;charset=UTF-8",
                                'token': this.token,
                            },
                        }).then(function (value){
                            console.log(value);
                            console.log(value.data);
                            if(value.data.code==1){
                                alert("修改成功")
                            }else{
                                alert(value.data.msg)
                            }
                        }).catch(function (reason){
                            console.log(reason);
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            submitForm1(place1) {
                this.$refs[place1].validate((valid) => {
                    if (valid) {
                        let place = {
                            name:this.place1.name,
                            startline:this.place1.startline,
                            deadline:this.place1.deadline,
                            resource:this.place1.resource,
                            money:this.place1.money
                        }
                        axios({
                            method: 'post',
                            url: 'http://localhost:8080/place/add',
                            dataType:"json",
                            data: place,
                            headers: {
                                'Content-Type': "application/json;charset=UTF-8",
                                'token': this.token,
                            },
                        }).then(function (value){
                            console.log(value);
                            console.log(value.data);
                            if(value.data.code==1){
                                alert("增加成功")
                            }else{
                                alert(value.data.msg)
                            }
                        }).catch(function (reason){
                            console.log(reason);
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },

            add(){

            },
            handoff(a){
                location.href = `http://localhost:8080/manager${a}.html`
            },

            linkTo() {
                let activeIndex = this.$refs.carousel.activeIndex
                window.open(this.imgList[activeIndex].link, "_blank");
            },

            handleEdit(index, row) {
                console.log(index, row);
                this.dialogVisible = true
                this.place = Object.assign({}, row)
            },

            handleDelete(index, row) {
                console.log(index, row);
                axios({
                    method: 'delete',
                    url: `http://localhost:8080/place/${row.id}`,
                    dataType: "json",
                    data: row.id,
                    headers: {
                        'Content-Type': "application/json;charset=UTF-8",
                        'token': this.token,
                    },
                }).then(function (value) {
                    console.log(value);
                    console.log(value.data);
                    if (value.data.code == 1){
                        alert("删除成功")
                    }else{
                        alert(value.data.data)
                    }
                }).catch(function (reason) {
                    console.log(reason);
                })
            }
        },

        data (){
            return {
                place:{
                    id:'',
                    name:'',
                    resource: '',
                    startline: '',
                    deadline:'',
                    money:''
                },
                place1:{
                    id:'',
                    name:'',
                    resource: '',
                    startline: '',
                    deadline:'',
                    money:''
                },
                tableData:[{

                }],
                dialogVisible: false,
                dialogVisible1: false,
                formInline: {
                    user: '',
                    region: ''
                },
                activeIndex: '1',
                activeIndex2: '1',
                fit: ['cover'],
                itemList: [
                    { path: '/Home', title: '用户' },
                    { path: '/test1', title: '景点' },
                    { path: '/test2', title: '订单' },
                ],
                rules: {
                    name: [
                        { required: true, message: '请输入活动名称', trigger: 'blur' },
                        { min: 3, max: 5, message: '长度在 1 到 6 个字符', trigger: 'blur' }
                    ],
                    startline: [
                        { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
                    ],
                    deadline: [
                        { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
                    ],
                    resource: [
                        { required: true, message: '请填写景区描述', trigger: 'blur' },
                        { pattern:/\S{1,100}/, message: '介绍格式有误', trigger: 'blur' }
                    ],
                    money: [
                        { required: true, message: '请填写金额', trigger: 'blur' },
                        { pattern:/[1-9]\d*/, message: '格式有误', trigger: 'blur' }
                    ],
                },
            };
        }
    })
</script>

</body>
</html>