<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <style>
        .login{
            text-align: center;
            margin: 0 auto;
            width: 500px;
            height: 220px;
            background-color: rgba(87, 86, 86, 0.2);
            border-radius: 25px;
            box-shadow: 5px 2px 35px -7px #ff9a9e;
        }
        .login_form{
            padding: 20px;
        }
    </style>

</head>
<body background="pict/1680280853689.jpg"
      style="background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%">
<div id="app">
    <div class="login">
        <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-row> 登录</el-row>
            <div class="login_form">
                <el-form-item label="账号" prop="account">
                    <el-input type="text" v-model="ruleForm.account" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input type="password" v-model="ruleForm.password" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">登录</el-button>
                </el-form-item>
            </div>
        </el-form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./vue.js"></script>
<script src="js/index.js"></script>
<link rel="stylesheet" href="js/theme-chalk/index.css"/>
<script>
    new Vue({
        el:"#app",
        data() {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入账号'));
                } else {
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                }else{
                    callback();
                }
            };
            return {
                ruleForm: {
                    account: '',
                    password: '',
                },
                rules: {
                    account: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    password: [
                        { validator: validatePass2, trigger: 'blur' }
                    ],
                }
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let user = {
                            'account':this.ruleForm.account,
                            'password':this.ruleForm.password,
                        }
                        axios({
                            method: "post",
                            url: "http://localhost:8080/login/l2",
                            dataType:'json',
                            data: user,
                            headers: {
                                'Content-Type': 'application/json;charset=UTF-8'
                            }
                        }).then(function (value){
                            console.log(value);
                            console.log(value.data);
                            if(value.data.msg == 'succ'){
                                alert("登陆成功")
                                localStorage.setItem("token",value.data.data)
                                console.log(value.data.data)
                                location.href="http://localhost:8080/manager0.html";
                            }else{
                                alert("账号密码错误")
                            }
                        }).catch(function (reason){
                            console.log(reason);
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
        }
    })
</script>
</body>
</html>